<!DOCTYPE html>
<html lang="en">

<head>
    <title>Добавить задачу</title>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
{#<var>SimpleMDE()</var>#}
<h1>Добавить задачу:</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="nav" style="margin-top: 100px;">
    <li><input type="text" name="idea" id="input" class="input-text" placeholder="Название" style="
        width: 30%; position: absolute;margin-bottom: 30px;"></li>
    <li><input type="number" name="max_subs" id="input" class="input-number" placeholder="Число подписчиков" style="
        width: 18%; position: relative; margin-left: 33%; margin-top: -4.1%;"></li>
    <li><input type="text" name="tags" id="input" class="input-text" placeholder="Теги" style="
        width: 30%;"></li>
     <li><textarea type="text" class="input-text" name="simple_about" style="
      width: 70%; height: 20%; position: relative;" id="input" maxlength="100" placeholder="Краткое описание:"></textarea></li>
    <div class="Wrapper" style="max-width: 70%;">
     <textarea type="text" name="body" id="task-body"
               cols="100" rows="4" class="task-input"></textarea>
    </div>
    <button type="submit" class="edit-button" style="margin-top: 1em;">Разместить</button>
    </ul>
</form>

{% include 'patterns/modern_footer.html' %}

<script>
    	new SimpleMDE({
		element: document.getElementById("task-body"),
        autofocus: true,
        placeholder: "Опишите подробно, как вы видите свой проект:",
		spellChecker: false,
	});
</script>

<script language="javascript">
function checkIt(el) {
  var aLines = el.value.split("\n");
  alert("The number of lines is " + aLines.length);
}
</script>

</html>