<!DOCTYPE html>
<html lang="en">

<head>
    <title>Чаты</title>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
<h1>Ваши чаты:</h1>
{#{% include 'patterns/header.html' %}#}
{#{% include 'patterns/menu.html' %}#}
<br>
<a href="/create_chat" class="edit-button">Создать чат</a>
<br><br>
<div>
    {% for chat in chats %}
          <a href="/chat/{{  chat.id }}">
    <div class="chat-card">
    <div class="chat-card-header">
        <h1 class="chat-card-text">{{  chat.name }}</h1></div></div></a>
    {% endfor %}
</div>

{% include 'patterns/modern_footer.html' %}
</body>
</html>