<!DOCTYPE html>
<html lang="en">

<head>
    <title>Подписки</title>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
<h1>Ваши подписки:</h1>
{#{% include 'patterns/header.html' %}#}
{#{% include 'patterns/menu.html' %}#}
<br>
<div>
    {% for sub in subs %}
              <div class="task-card">
                   <a href="/task/{{  sub.id }}">
    <div class="task-card-header">
    <h1 class="task-card-text">{{  sub.task.idea }}</h1>
    <h2 class="task-card-from">От {{  sub.task.author }}</h2>
    </div>
    <h2 class="task-about">{{  sub.task.simple_about }}</h2>
    </a><a href="/chat/{{  sub.task.chat.id }}">
    <div class="task-card-footer">
    <h2 class="task-card-text">Войти в чат</h2>
    </div></a>
    </div>
    {% endfor %}
</div>

{% include 'patterns/modern_footer.html' %}
</body>
</html>