<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{  chat.name  }}</title>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
<h1 class="task-card-text">{{  task.idea }}</h1>
<h2 class="task-card-from"><a href="/profile/{{ task.author }}">
        <div type="submit" class = "user-link" style="">От {{ task.author }}</div></a></h2>
{#{% include 'patterns/header.html' %}#}
{#{% include 'patterns/menu.html' %}#}
<br>
<br>
<div>
    {% for msg in chat.messages.all %}
    <div style="display:inline-block; padding-top:20px;"><h2 class="chat-card-text-2"><a href="/profile/{{ msg.author }}" class = "user-link">
        {{ msg.author }}</a></h2></div>
    <div  style="display:inline-block;"class="chat-card">
    <div class="chat-card-header">
        <h1 class="chat-card-text"> {{  msg.text }}</h1></div></div></a><br><br>
    {% endfor %}
</div>

{% include 'patterns/modern_footer.html' %}
<div class="bottom-div">
    <form action="/chat/{{chat.id}}/new_msg" method="post">
        {% csrf_token %}<div class="input" style="margin-top: 2.5em;">
                     <input required type="text" name="text" autocomplete="off" id="input" class="input-send"
                            placeholder="Сообщение" style=" position: relative; display: inline-block;">
    <button type="submit" class="send-button" style="display: inline-block;">Отправить</button>
    </form></div>
</body>
</html>