<!DOCTYPE html>
<html lang="en">

{% include 'patterns/header.html' %}
{#{% include 'patterns/login_menu.html' %}#}

<style>
    .formm {
        margin-left: 5%;
        margin-top: 7%;
        z-index: 99;
    }

</style>

<body>
        <div class="formm">
            <form action="/u/login/" method="post">
                {% csrf_token %}
                {% for field in loginform.visible_fields %}
                    <div class="form-group form-inline">{{ field }}</div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
        <div class="formm">
            <form action="/u/register/" method="post">
                {% csrf_token %}
                {% for field in registerform.visible_fields %}
                    <div class="form-group form-inline">{{ field }}</div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
</body>
