<!DOCTYPE html>
<html lang="en">

<head>
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
{#{% include 'patterns/header.html' %}#}
{#{% include 'patterns/menu.html' %}#}

{% if user == user_profile %}
    <h1 style="margin-bottom: 1%;">Привет, {{ user }}!</h1>
    <br>

{% else %}
    <h1>Это профиль юзера {{ user_profile }}</h1>
    <br>
{% endif %}
<br>
<img src="{{ MEDIA_URL }}{{ avatar }}" width="150" style="border-radius: 14px; position: absolute;">
<p class="first_name" style="position: relative;">{{ user.first_name }} {{ user.last_name }}</p>
<p class="email" style="position: relative;">{{ user_profile.email }}</p>
<p class="location-h">Местоположение: </p><p class="location" style="position: relative;">{{ user.profile.location }}</p>
<p class="bio-h">О пользователе:</p> <p class="bio">{{ user.profile.bio }}</p>
<br>
<br>

{% if user == user_profile %}
    <a href="{{ user }}/edit" class="edit-button">Редактировать профиль</a>
{% endif %}

{% include 'patterns/modern_footer.html' %}
</body>
</html>