<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ user_profile }}</title>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
{#{% include 'patterns/header.html' %}#}
{#{% include 'patterns/menu.html' %}#}

{% if user.is_authenticated %}
    <div>
            <form method="post">
              {% csrf_token %}
              {{ user_form.as_p }}
              {{ profile_form.as_p }}
              <button type="submit">Сохранить изменения</button>
            </form>
        </div>


{% else %}
    <h1><a href = "/login">Пожалуйста, авторизуйтесь</a></h1>
    <br>
{% endif %}

{% include 'patterns/modern_footer.html' %}
</body>
</html>