<!DOCTYPE html>
<html lang="en">

{% include 'patterns/header.html' %}
{#{% include 'patterns/login_menu.html' %}#}


<style>
    .formm {
        position: relative;
        display: block;
        width: 30em;
        margin-left: 45%;
        margin-top: 7%;
        z-index: 99;
    }
    body{
        height: 50%;
        width: 100%;
    }


</style>

<body>
        <div class="formm">
            <form action="/u/recover_password" method="post" style="margin: auto; position: relative;">
                {% csrf_token %}
                <div class="Wrapper"><div class="input" style="margin-left: -15%;">
                    <h3>Восстановление пароля</h3>
                     <input type="text" name="email" autocomplete="off" id="input" class="input-text"
                            placeholder="Введите ваш email" style=" margin-top: 9px; position: relative; width: 70%;">
                    <button type="submit" class="signup-button" style="margin-top: 3%;">Восстановить пароль!</button>
                </div>
                </div>
            </form>
        </div>
</body>
