<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
{#{% include 'patterns/header.html' %}#}
{#{% include 'patterns/menu.html' %}#}

<div class="content isOpen">
    <a class="button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <line x1="0" y1="20" x2="100" y2="20" />
        <line x1="0" y1="50" x2="100" y2="50" />
        <line x1="0" y1="80" x2="100" y2="80" />
      </svg>
    </a>
    <h1>Добро пожаловать в хаб!</h1>
    <br>
    <img src="{{ MEDIA_URL }}{{ avatar }}">
</div>
</div>
</body>




{% include 'patterns/modern_footer.html' %}
</html>