{#TODO#}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ task.idea }}</title>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
{#{% include 'patterns/header.html' %}#}
{#{% include 'patterns/menu.html' %}#}
{##}
<br><br><p>Подписчики: {{ subs_count }}</p>
<ul>
    {% for sub in subs %}
    <li>{{ sub.user.nickname }}</li>
    {% endfor %}
    {% for avatar in avatars %}
    <img class="avatar" src="{{ MEDIA_URL }}/{{ avatar }}">
    {% endfor %}
</ul>
{% if user.get_username == author %}
        <div class="task-title">
        <p>{{ user }}</p>
        <a href="/remove/{{ task.id }}">
        <div class="remove-button">
        Удалить</div>
        </a>
    </div>

{#<div class="Wrapper" style="max-width: 70%; max-height: 10%; margin-bottom: 100px;">#}
{#    <textarea id="simple_about">{{ task.simple_about }}</textarea>#}
{#</div>#}
{#<h1><a id="h1_demo2" class="anchor" href="#h1_demo2" aria-hidden="true"><span class="octicon octicon-link"></span></a>Autosaving</h1>#}
{#<div class="Wrapper" style="max-width: 70%;" >#}
{#    <textarea id="task-body">{{ task.body }}</textarea>#}
{#</div>#}
<h1><a id="h1_demo1" class="anchor" href="#h1_demo1" aria-hidden="true"></a>{{ task.idea }}</h1><br>
<div class="Wrapper" style="max-width: 70%;">
<textarea id="demo1">{{ task.body }}</textarea></div>
{% else %}
<br><br>
    {% if flag == True%}
        <p>Вы подписаны. Отписаться?</p>
        <a href="/unsub/{{ task.id }}">Отписаться</a>
    {% else %}
    <a href="/sub/{{ task.id }}">Подписаться</a>
    {% endif %}
    <h1 class="text-show-task">{{ task.idea }} <a href="/profile/{{ task.author }}">
        <div type="submit" class = "user-link" style="">от {{ task.author }}</div></a></h1>
    <h1 class="text-show-task">{{ task.simple }}</h1>
    <h2 class="text-show-task">{{ task.body }}</h2>
{% endif %}

{% include 'patterns/modern_footer.html' %}

<script>
    	new SimpleMDE({
		element: document.getElementById("demo1"),
        autofocus: true,
        placeholder: "Опишите подробно, как вы видите свой проект:",
		spellChecker: false,
	});

    new SimpleMDE({
		element: document.getElementById("demo2"),
        autofocus: true,
        placeholder: "Краткое описание",
		spellChecker: false,
	});
</script>
</html>