<!DOCTYPE html>
<html lang="en">

<head>
    <title>Таски</title>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
<h1>Ваши задачи:</h1>
{#{% include 'patterns/header.html' %}#}
{#{% include 'patterns/menu.html' %}#}
{% if len == 0 %}
    <a href="/add_task"><button type="submit" class="edit-button" style="margin-top: 2.5em;">Создать задачу!</button></a>
{% endif %}
<ul class="tasks">
    {% for task in tasks %}
          <a href="/task/{{ task.id }}" style="width: 53em;"><div class="task">
          <h1>{{ task.idea }}</h1>
          <p>{{ task.body }}...</p>
           </div></a>
    {% endfor %}
</ul>

{% include 'patterns/modern_footer.html' %}
</html>