<!DOCTYPE html>
<html lang="en">

<head>
    <title>Таски</title>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
<h1>Ваши задачи:</h1>
{#{% include 'patterns/header.html' %}#}
{#{% include 'patterns/menu.html' %}#}

<ul class="tasks">
    {% for task in tasks %}
      <div class="task-div">
          <button class="task">
          <a class='button-delete' href="/remove/{{ task.id }}">*</a>
          <h1>{{ task.idea }}</h1>
          <a>{{task.body}}</a>
           </button>
      </div>
    {% endfor %}
</ul>

{% include 'patterns/modern_footer.html' %}
</html>