<!DOCTYPE html>
<html lang="en">

<head>
    <title>Таски</title>
    <link rel="stylesheet" type="text/css" href="/static/modern_style.css">
</head>

<body>
{% include 'patterns/modern_menu.html' %}
<h1>Ваши задачи:</h1>
{#{% include 'patterns/header.html' %}#}
{#{% include 'patterns/menu.html' %}#}

<ul class="tasks">
    {% for task in tasks %}
          <button class="task">
          <a href="/remove/{{ task.id }}"></a>
          <h1>{{ task.idea }}</h1>
          <a href="/remove/{{ task.id }}">{{task.body}}</a>
           </button>
    {% endfor %}
</ul>

{% include 'patterns/modern_footer.html' %}
</html>