<style>

    .main-menu li {
	display: inline;
        float: right;
        margin-top: 1.6%;
}

.main-menu li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 50px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.main-menu li a:hover {
	color: #df313c;
    text-decoration:  none;
}


</style>

<div class="menu-bar">
            <a href="/"><button class="button-menu">На главную</button></a>

			<ul class="main-menu">
				<li><a href="./about.html">О нас</a></li>
				<li><a href="./blog.html">Контакты</a></li>
			</ul>
</div>