<style>

    button::-moz-focus-inner {
  border: 0;
}

:focus {outline:none !important;}

</style>

<div class="wrapper">
  <div class="sidebar" style="position: fixed;">
    <ul class="nav">
      <img class="avatar" src="{{ MEDIA_URL }}{{ avatar }}">
       <li class="profile"><a class="profile-button" href = "/profile/{{ user }}"><p> Профиль </p></a></li>
       <li><a {% if pagename == 'profile' %}class="active"{% endif %} href = "/profile/{{ user }}"> {{ user }} (Вы) </a></li>
      <li><a {% if pagename == 'hab' %}class="active"{% endif %} href="/">Хаб</a></li>
      <li><a {% if pagename == 'make_task' %}class="active"{% endif %} href="/add_task">Создать таск</a></li>
      <li><a {% if pagename == 'tasks' %}class="active"{% endif %} href="/tasks">Мои таски</a></li>
      <li><a {% if pagename == 'settings' %}class="active"{% endif %}>Настройки</a></li>
      <li><a class="logout" href="/u/logout/">Выйти</a></li>
    </ul>
  </div>
  <div class="content isOpen">
          <a class="button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <line x1="0" y1="20" x2="100" y2="20" />
        <line x1="0" y1="50" x2="100" y2="50" />
        <line x1="0" y1="80" x2="100" y2="80" />
      </svg>
    </a>