<style>

.main-menu li {
	display:inline;
    float: right;
    margin-top: 25px;
    {#margin-left: -10px;#} padding-left: 100px;
}

.main-menu li a {
    position:absolute;
	font-size: 16px;
	color: #fff;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.main-menu li a:hover {
	color: #df313c;
    text-decoration:  none;
}
    .main-menu{
        margin-right: 400px;
    }

    .first{
        margin-left: -30px;
    }
    .another{
        margin-right: 50px;
    }


</style>

<div class="menu-bar">
            {% if not user.is_authenticated %}
{#			<a href="#"><div class="user-panel">Войти / Регистрация</div></a>#}
                <a href="u/login_page"><button class="button-menu">Войти / Регистрация</button></a>
			<ul class="main-menu">
				<li><a href="./about.html">О нас</a></li>
				<li><a href="./blog.html">Контакты</a></li>
			</ul>
            {% else %}
             <a href="u/logout"><button class="button-menu">Выйти</button></a>
             <nav class="four">
                <ul class="topmenu">
                <li><a href=""><button class="button-profile">Вы</button></a>
                <ul class="submenu">
                <li><a href="">Профиль</a></li>
                <li><a href="/tasks">Мои таски</a></li>
                <li><a href="">Настройки</a></li>
                </ul>
                </li>
                </ul>
            </nav>
            <ul class="main-menu">
				<li class="first"><a href="./add_task">Разместить таск</a></li>
				<li class="another"><a href="./blog.html">Маркетплейс</a></li>
			</ul>
    {% endif %}
                </div>


<style>

nav {
  width: 50px;
    float: right;
    margin-right: -20px;
    margin-top: -10px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu > li {
    width: 49px;
  display: inline-block;
  position: absolute;
}

.four a {
    font-size: 13px;
  text-align: center;
  display: block;
  padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  text-decoration: none;
  outline: none;
  transition: .5s linear;
}


.submenu {
    margin-left: -16px;
  display: list-item;
  position: absolute;
  top: 110%;
  left: 0;
  width: 200%;
  z-index: 10;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.four .submenu {
  -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  border-radius: 10px;
  border-width: 1px;
  background: #df313c;
}
.four .submenu li a:hover{
    text-decoration:  none;
    color: black;
    text-shadow: 0px 0px 8px #b881c4;
}
.four ul :hover .submenu {
  -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
.four ul a {
  color: ghostwhite;
}

</style>